* {
    font-family: "Open Sans", sans-serif;
    
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* background-color: #dedede; */
}
/* Logo  */
.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    /* opacity: 0.5;; */
    /* color: white; */
    z-index: 1000;
}
.top-bar > .positioning {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar > .positioning >div {
    
    display: flex;
    align-items: center;
}
.top-bar > .positioning > div > img{
    box-sizing: border-box;
    width: 55px;
    height: auto;
}
.top-bar >.positioning > div > .logo{
    font-family: "Anton", sans-serif;
    font-weight: 600;
    font-size: 40px;
    /* word-spacing: 2px; */
    letter-spacing: 2px;
    padding: 0 7px;
}
/* menu  */
.menu > ul{
    display: flex;
    margin-right: 20px;
}
.menu > ul > li{
    
    padding: 0 20px;
    /* text-transform: none; */
    list-style: none;
}
.menu > ul > li > a{
    font-family: "Anton", sans-serif;
    align-self: center;
    color: black;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 21px;
    transition: color 0.2s;
}
.menu > ul > li > a:hover{
    color: gray;
    border-bottom: 2px solid gray;
}
/* Main page  */
.front-page{
    /* z-index: -1; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-page > div{
    width: 45%;
    margin-left: 80px;
}
.front-page > div> .quote{
    font-family: "Anton", sans-serif;
    font-style: italic;
    font-size: 52px;
    padding-bottom: 20px;
}
.front-page > div> .firstpage-cont{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #3a3b3a;
    margin-bottom: 50px;
}
.front-page > img{
    align-self: flex-end;
    height: 90vh;
}
.join{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px 27px;
    margin-top: 50px;
    font-size: 23px;
    font-weight: 600;
    border: black solid 1px;
    cursor:pointer;
    transition: color 0.2s, background-color 0.2s;
}
.join:hover{
    background-color: #d2d4d2;
    border: black solid 1px;
    color: black;
    /* font-size: 24px; */
}
/* About Us main page  */
#about-us.main{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content.main{
    display: flex;
    /* position: sticky; */
    /* left: 50%; */
    background-color: white;
    height: 70vh;
    width: 70%;
}
.about-content.main > img{
    object-fit: contain;
}
.about-content.main > div > h1{
    padding-right: 20px;
    display: block;
    border-bottom: black solid 2px;
    text-align: right;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: 73px;
    letter-spacing: 2px;
}
.about-content.main > div > p{
    padding: 20px ;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #3a3b3a;
}
.about-content.main > div > strong{
    font-weight: 600;
    font-size: 25px;
    padding-left: 20px;
}
/* About us out story  */
.our-story{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
}
.about-content.our-story{
    display: flex;
    background-color: black;
    height: 70vh;
    width: 70%;
    overflow: hidden;
    position: absolute;
}
.about-content.our-story > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.about-content.our-story > div > h1{
    color: white;
    padding-left: 20px;
    display: block;
    border-bottom: white solid 2px;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: 73px;
    letter-spacing: 2px;
}
.about-content.our-story > div > p{
    color: white;
    padding: 20px ;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
/* Plans  */
.plan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}
.plan.about-content{
    display: flex;
    background-color: white;
    height: 65vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    justify-content: space-between;
}.plan.about-content > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.plan.about-content > div > h1{
    color: black;
    padding-left: 20px;
    display: block;
    border-bottom: black solid 2px;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
}
.plan.about-content > div > p{
    padding: 20px ;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
.plan.about-content > div > p > strong{
    font-weight: 600;
}
.list-p{
    letter-spacing: 1px;
    /* list-style: none; */
    padding-left: 20px;
}
.list-p > li{
    font-size: 20px; 
    font-weight: 400;
}
/* contact us  */
.contact-us{
    background-color: black;
    height: 100vh;
    background-image: url(./images/pexels-goumbik-669576.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us.about-content{
    display: block;
    height: 70vh;
    width: 60%;
    background-color: white;
    background-image: none;
}
.contact-us.about-content > h1{
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    font-family: "Anton", sans-serif;
}
form{
    padding: 40px 20px;
    margin-left: 10px;
}
label{
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
}
input{
    width: 90%;
    padding: 2px 10px;
}
.submit{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    width: 121px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}